// Colores
$color-background: rgb(204, 204, 204);
$color-primary: grey;
$color-green: green;
$color-white: white;
$color-black: black;
$color-red: red;

// Tamaños
$size-header: 600px;
$size-container-width: 30vw;
$size-container-height: 90vh;
$size-form-padding: 30px;
$size-gap: 10px;

// Fuentes
$font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
$font-size-h1: 40px;
$font-size-h2: 1.5rem; // Aproximadamente 24px
$font-size-h3: 1rem; // Aproximadamente 16px
$font-size-body: 14px;
$font-size-h4: 14px;