// Colores
$color-bg-light: #b1afaf; // Fondo gris claro
$color-bg-dark: #706f6f; // Fondo gris oscuro
$color-text-dark: #333; // Texto gris oscuro
$color-button-bg: #555; // Fondo botones
$color-button-bg-hover: #777; // Fondo botones hover
$color-footer-bg: #333; // Fondo pie de página
$color-footer-text: #fff; // Texto pie de página

// Tamaños
$container-width: 80%; // Ancho del contenedor
$img-size: 30%; // Ancho de las imágenes
$border-radius: 10px; // Radio de borde para cajas
$transition-speed: 0.3s; // Velocidad de transición

// Tipografía
$font-family: 'Arial, sans-serif'; // Tipografía base
$font-size-base: 16px; // Tamaño de fuente base
$font-size-small: 14px; // Tamaño de fuente pequeño

// Margen y padding
$spacing-small: 10px; // Espacio pequeño
$spacing-medium: 20px; // Espacio medio